.header-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../images/demo.webp) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden !important;
}
.header-container::before{
content: "";
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
background-color: rgba(11, 44, 11,.9);
animation: bckColorChange 30s ease-in-out infinite alternate-reverse both 5s;
-webkit-animation: bckColorChange 30s ease-in-out infinite alternate-reverse both 5s;
-moz-animation: bckColorChange 30s ease-in-out infinite alternate-reverse both 5s;
-o-animation: bckColorChange 30s ease-in-out infinite alternate-reverse both 5s;
z-index: 2;
transition: background-color .3s ease-in-out;
-webkit-transition: background-color .3s ease-in-out;
-moz-transition: background-color .3s ease-in-out;
-o-transition: background-color .3s ease-in-out;
}

@keyframes bckColorChange {
  0%{background-color: rgba(223, 0, 255,.85);}
  25%{background-color: rgba(17,20,235,.85);}
  50%{background-color: rgba(255,14,20,.85);}
  70%{background-color: rgba(3,150,255,.85);}
  100%{background-color: rgba(11, 44, 11,.9);}
}
.carousel{
  margin-top: 100px;
  width: 85%;
  padding: 30px 0px;
  display: flex;
  justify-content: flex-end;
  color: #FFF;
  overflow: hidden;
  z-index: 3;
}
.box-move{
  margin-top: -139px;
  width: 100%;
  overflow: hidden;
  animation: move-forever4 35s linear infinite;
  -webkit-animation: move-forever4 35s linear infinite;
  -moz-animation: move-forever4 35s linear infinite;
  -o-animation: move-forever4 35s linear infinite;
}  
.box-move img{
  width: 300px;
  z-index: 1;
  transform: translateY(10px);
  animation: up-downs 2s ease-in-out infinite alternate-reverse both;
  -webkit-animation: up-downs 2s ease-in-out infinite alternate-reverse both;
  -moz-animation: up-downs 2s ease-in-out infinite alternate-reverse both;
  -o-animation: up-downs 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-downs {
  0% {
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
  }
  100% {
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
  }
}
  @keyframes bgPos{
      0%{
          background-position: 50% 0;
      }
      100%{
          background-position: -150% 0;
      }
  }
  .right-carousel{
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: opacity 4s ease-in-out;
      -webkit-transition: opacity 4s ease-in-out;
      -moz-transition: opacity 4s ease-in-out;
      -o-transition: opacity 4s ease-in-out;
  }
  .right-carousel img{
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
  }
  .hide-logo{
    opacity: 0;
  }
  .animated {
      animation: up-down 2s ease-in-out infinite alternate-reverse both;
      -webkit-animation: up-down 2s ease-in-out infinite alternate-reverse both;
      -moz-animation: up-down 2s ease-in-out infinite alternate-reverse both;
      -o-animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  @-webkit-keyframes up-down {
      0% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
      }
      100% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -o-transform: translateY(-20px);
      }
    }
    
    @keyframes up-down {
      0% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
      }
      100% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -o-transform: translateY(-20px);
      }
    }
  
  .hero-waves {
      display: block;
      margin-top: 10px;
      width: 100%;
      height: 60px;
      z-index: 5;
      position: relative;
    }
    .wave1,.wave2,.wave3{
      width: 100%;
      display: inline-block;
      vertical-align: center;
    }
    .wave1 use {
      animation: move-forever1 10s linear infinite;
      -webkit-animation: move-forever1 10s linear infinite;
      -moz-animation: move-forever1 10s linear infinite;
      -o-animation: move-forever1 10s linear infinite;
      animation-delay: -2s;
      -webkit-animation-delay: -2s;
      -moz-animation-delay: -2s;
      -o-animation-delay: -2s;
    }
    .wave2 use {
      animation: move-forever2 8s linear infinite;
      -webkit-animation: move-forever2 8s linear infinite;
      -moz-animation: move-forever2 8s linear infinite;
      -o-animation: move-forever2 8s linear infinite;
      animation-delay: -2s;
      -webkit-animation-delay: -2s;
      -moz-animation-delay: -2s;
      -o-animation-delay: -2s;
    }
    .wave3 use {
      animation: move-forever3 6s linear infinite;
      -webkit-animation: move-forever3 6s linear infinite;
      -moz-animation: move-forever3 6s linear infinite;
      -o-animation: move-forever3 6s linear infinite;
      animation-delay: -2s;
      -webkit-animation-delay: -2s;
      -moz-animation-delay: -2s;
      -o-animation-delay: -2s;
    }
    @-webkit-keyframes move-forever1 {
      0% {
        transform: translate(85px, 0%);
        -webkit-transform: translate(85px, 0%);
        -moz-transform: translate(85px, 0%);
        -o-transform: translate(85px, 0%);
      }
      100% {
        transform: translate(-90px, 0%);
        -webkit-transform: translate(-90px, 0%);
        -moz-transform: translate(-90px, 0%);
        -o-transform: translate(-90px, 0%);
      }
    }
    @keyframes move-forever1 {
      0% {
        transform: translate(85px, 0%);
        -webkit-transform: translate(85px, 0%);
        -moz-transform: translate(85px, 0%);
        -o-transform: translate(85px, 0%);
      }
      100% {
        transform: translate(-90px, 0%);
        -webkit-transform: translate(-90px, 0%);
        -moz-transform: translate(-90px, 0%);
        -o-transform: translate(-90px, 0%);
      }
    }
    @-webkit-keyframes move-forever2 {
      0% {
        transform: translate(-90px, 0%);
        -webkit-transform: translate(-90px, 0%);
        -moz-transform: translate(-90px, 0%);
        -o-transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
        -webkit-transform: translate(85px, 0%);
        -moz-transform: translate(85px, 0%);
        -o-transform: translate(85px, 0%);
      }
    }
    @keyframes move-forever2 {
      0% {
        transform: translate(-90px, 0%);
        -webkit-transform: translate(-90px, 0%);
        -moz-transform: translate(-90px, 0%);
        -o-transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
        -webkit-transform: translate(85px, 0%);
        -moz-transform: translate(85px, 0%);
        -o-transform: translate(85px, 0%);
      }
    }
    @-webkit-keyframes move-forever3 {
      0% {
        transform: translate(-90px, 0%);
        -webkit-transform: translate(-90px, 0%);
        -moz-transform: translate(-90px, 0%);
        -o-transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
        -webkit-transform: translate(85px, 0%);
        -moz-transform: translate(85px, 0%);
        -o-transform: translate(85px, 0%);
      }
    }
    @keyframes move-forever3 {
      0% {
        transform: translate(-90px, 0%);
        -webkit-transform: translate(-90px, 0%);
        -moz-transform: translate(-90px, 0%);
        -o-transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
        -webkit-transform: translate(85px, 0%);
        -moz-transform: translate(85px, 0%);
        -o-transform: translate(85px, 0%);
      }
    }
    @keyframes move-forever4 {
      0% {
        transform: translate(-30%, 0%);
        -webkit-transform: translate(-30%, 0%);
        -moz-transform: translate(-30%, 0%);
        -o-transform: translate(-30%, 0%);
      }
      100% {
        transform: translate(100%, 0%);
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
      }
    }
    @media screen and (max-width: 750px) {
      .carousel{
        padding: 30px 0px;
        justify-content: center;
        margin-top: 80px;
      }
      @keyframes move-forever4 {
        0% {
          transform: translate(-90%, 0%);
          -webkit-transform: translate(-90%, 0%);
          -moz-transform: translate(-90%, 0%);
          -o-transform: translate(-90%, 0%);
        }
        100% {
          transform: translate(100%, 0%);
          -webkit-transform: translate(100%, 0%);
          -moz-transform: translate(100%, 0%);
          -o-transform: translate(100%, 0%);
        }
      }
  }
    @media screen and (max-width: 450px) {
      .carousel{
          margin-top: 40px;
          width: 80%;
          overflow: hidden;
          padding: 30px 10px !important;
          z-index: 2;
      }
      .right-carousel{
          width: 50%;
      }  
      .box-move img{
        width: 230px;
      }
  }
