.header-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../images/img1.webp) no-repeat;
  background-position: center -100px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden !important;
}

.header-container::before{
content: "";
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
background-color: rgba(11, 44, 11,1);
animation: bckColorChange 30s ease-in-out infinite alternate-reverse both 5s;
-webkit-animation: bckColorChange 30s ease-in-out infinite alternate-reverse both 5s;
-moz-animation: bckColorChange 30s ease-in-out infinite alternate-reverse both 5s;
-o-animation: bckColorChange 30s ease-in-out infinite alternate-reverse both 5s;
z-index: 2;
transition: background-color 1.2s ease-in-out;
}

@keyframes bckColorChange {
  /* 0%{background-color: rgba(102,0,153,0.9);} */
  0%{background-color: rgba(223, 0, 255,.9);}
  25%{background-color: rgba(17,20,235,.9);}
  50%{background-color: rgba(255,14,20,.9);}
  70%{background-color: rgba(3,150,255,.9);}
  100%{background-color: rgba(11, 44, 11,.97);}
}

.slide{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s ease !important;
  -webkit-transition: all 0.2s ease !important;
  -moz-transition: all 0.2s ease !important;
  z-index: 1;
}

.slide img{
  width: 100%; height: 100%; 
  object-fit: cover; 
  object-position: top;
  animation: zoom 15s ease-in-out infinite alternate-reverse both;
  -webkit-animation: zoom 15s ease-in-out infinite alternate-reverse both;
  -moz-animation: zoom 15s ease-in-out infinite alternate-reverse both;
  transition: transform 1s ease;
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
}

@keyframes zoom{
  50%{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      object-position: center;
  }
 
  100%{
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      object-position: top;
  }
}

.carousel{
      margin-top: 100px;
      width: 85%;
      padding: 30px 0px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #FFF;
      overflow: hidden;
      z-index: 3;
}
.carousel-head{
  /* padding: 30px 0px; */
  display: none;
  overflow: hidden;
}

.carousel-head #logo{
  width: 500px;
  height:200px;
  overflow: hidden !important;
  fill: var(--whiteColor) !important;
  /* animation: fill 30s ease-in-out infinite alternate-reverse both 5s;
  -webkit-animation: fill 30s ease-in-out infinite alternate-reverse both 5s;
  -moz-animation: fill 30s ease-in-out infinite alternate-reverse both 5s;
  -o-animation: fill 30s ease-in-out infinite alternate-reverse both 5s; */
}

.carousel-head #logo path{
  stroke: none !important;
  padding: 80px 0px !important;
}
#logo path:nth-child(1){
animation: up-down 1.5s ease-in-out infinite alternate-reverse both 0.6s;   /*  4  */
}
#logo path:nth-child(2){
animation: up-down 1.5s ease-in-out infinite alternate-reverse both 0.8s;   /*  5  */
}
#logo path:nth-child(3){
animation: up-down 1.5s ease-in-out infinite alternate-reverse both 1.2s;   /*  7  */
}
#logo path:nth-child(4){
animation: up-down 1.5s ease-in-out infinite alternate-reverse both 1s;   /*  6  */
}
#logo path:nth-child(5){
animation: up-down 1.5s ease-in-out infinite alternate-reverse both 0.2s;   /*  2  */
}
#logo path:nth-child(6){
 animation: up-down 1.5s ease-in-out infinite alternate-reverse both 0.4s;   /*  3  */
}
#logo path:nth-child(7){
 animation: up-down 1.5s ease-in-out infinite alternate-reverse both 1.4s;   /*  8  */
}
#logo path:nth-child(8){
 animation: up-down 1.5s ease-in-out infinite alternate-reverse both 0s;    /*  1  */ 
}

@keyframes fill {
  0%{fill: rgba(223, 0, 255,1);}
  25%{fill: rgba(17,20,235,1);}
  50%{fill: rgba(255,14,20,1);}
  70%{fill: rgba(3,150,255,1);}
  100%{fill: rgba(11, 44, 11,1);}
}
  
.left-carousel{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }

  .c-heading h1{
      font-family: serif;
      font-weight: 700;
      font-size: 4rem;
      line-height: 4rem;
      text-transform: uppercase;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(199,204,207,0.4629202022605917) 9%, rgba(255,255,255,1) 17%);
      background-size: 200% 100%;
      animation: bgPos 2s linear infinite;
      -o-animation: bgPos 2s linear infinite;
      -webkit-animation: bgPos 2s linear infinite;
      -moz-animation: bgPos 2s linear infinite;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  @keyframes bgPos{
      0%{
          background-position: 50% 0;
      }
      100%{
          background-position: -150% 0;
      }
  }
  
  .info p{
      font-size: 1.6rem;
      line-height: 2rem;
      text-align: justify;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .right-carousel{
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .right-carousel img{
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
  }
  
  .animated {
      animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  @-webkit-keyframes up-down {
      0% {
        transform: translateY(20px);
      }
      100% {
        transform: translateY(-20px);
      }
    }
    
    @keyframes up-down {
      0% {
        transform: translateY(20px);
      }
      100% {
        transform: translateY(-20px);
      }
    }
  
  .hero-waves {
      display: block;
      margin-top: 10px;
      width: 100%;
      height: 60px;
      z-index: 5;
      position: relative;
    }
    .wave1,.wave2,.wave3{
      width: 100%;
      display: inline-block;
      vertical-align: center;
    }
    .wave1 use {
      -webkit-animation: move-forever1 10s linear infinite;
      animation: move-forever1 10s linear infinite;
      -webkit-animation-delay: -2s;
      animation-delay: -2s;
    }
    
    .wave2 use {
      -webkit-animation: move-forever2 8s linear infinite;
      animation: move-forever2 8s linear infinite;
      -webkit-animation-delay: -2s;
      animation-delay: -2s;
    }
    
    .wave3 use {
      -webkit-animation: move-forever3 6s linear infinite;
      animation: move-forever3 6s linear infinite;
      -webkit-animation-delay: -2s;
      animation-delay: -2s;
    }
    
    @-webkit-keyframes move-forever1 {
      0% {
        transform: translate(85px, 0%);
      }
      100% {
        transform: translate(-90px, 0%);
      }
    }
    
    @keyframes move-forever1 {
      0% {
        transform: translate(85px, 0%);
      }
      100% {
        transform: translate(-90px, 0%);
      }
    }
    @-webkit-keyframes move-forever2 {
      0% {
        transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
      }
    }
    @keyframes move-forever2 {
      0% {
        transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
      }
    }
    @-webkit-keyframes move-forever3 {
      0% {
        transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
      }
    }
    @keyframes move-forever3 {
      0% {
        transform: translate(-90px, 0%);
      }
      100% {
        transform: translate(85px, 0%);
      }
    }
  
    @media screen and (max-width: 1200px) {
      .c-heading h1{
          font-size: 3rem;
          line-height: 3rem;
      }
    }
  
    @media screen and (max-width: 1000px) {
      .c-heading h1{
          font-size: 2.5rem;
          line-height: 2.5rem;
      }
    }
  
    @media screen and (max-width: 750px) {
      .header-container{
        background-position: -530px -15px;
        background-size: 300% 60%;
      }
      .carousel{
        padding: 30px 0px;
        margin-top: 80px;
      }
      .carousel-head #logo{
        width: 400px;
      }
      .c-heading h1{
          font-size: 2rem;
          line-height: 2rem;
      }
      .info p{
          font-size: 1.2rem;
          line-height: 1.6rem;
          text-align: justify;
      }
  }
  
    @media screen and (max-width: 600px) {
      .c-heading h1{
          font-size: 1.4rem;
          line-height: 1.8rem;
      }
      .info p{
          font-size: 1rem;
          line-height: 1.2rem;
          text-align: justify;
      }
  }
  
    @media screen and (max-width: 450px) {
      .header-container{
        background-position: -270px -55px;
        background-size: 300% 50%;
      }
      .carousel{
          margin-top: 40px;
          width: 80vw !important;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
          overflow: auto;
          padding: 5px 10px !important;
          z-index: 1;
      }
      .carousel-head{
        /* padding: 0px 0px; */
        padding: 60px 0px;
        display: block;
      }
      .carousel-head #logo{
        width: 250px;
        height:180px;
      }
  
      .c-heading h1{
          font-size: 1.4rem;
          line-height: 1.8rem;
          text-align: center;
      }
  
      .info p{
          font-size: 1rem;
          line-height: 1.2rem;
          text-align: justify;
      }
  
      .left-carousel{
          width: 100%;
          row-gap: 5px;
          display: none;
      }
  
      .right-carousel{
          width: 40%;
          display: none;
      }  
      
      @keyframes bckColorChange {
        /* 0%{background-color: rgba(102,0,153,0.8);} */
        0%{background-color: rgba(223, 0, 255,.89);}
        25%{background-color: rgba(17,20,235,.89);}
        50%{background-color: rgba(255,14,20,.89);}
        70%{background-color: rgba(3,150,255,.89);}
        100%{background-color: rgba(11, 44, 11,.97);}
      }
  }

  @media screen and (max-width: 350px) {
    .carousel-head{
      padding: 10px 0px;
    }
    .carousel-head #logo{
      width: 200px;
      height:100px;
    }
  }
  