.info-navbar{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.info-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 45px;
    background: linear-gradient( 135deg,  rgba(22,22,22,1) 10%, rgba(255,20,175,1) 100% );
}
.info-nav{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.info-nav a{
    text-decoration: none;
    color: var(--whiteColor);
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
}
.info-nav a::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 25%;
    height: 2px;
    border-radius: 25px;
    background: var(--whiteColor);
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}
.info-nav a:hover::after{
    width: 100%;
}
.info-menu img{
    display: inline-block;
    width: 80px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center center;
}
.info-title-bg{
    width: 100%;
    height: 260px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-title-bg h1{
    z-index: 2;
    margin-left: 100px;
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: .1rem;
    font-weight: 900;
    color: var(--whiteColor);
}
.info-title-bg h1 a{
    text-decoration: none;
    color: var(--whiteColor);
    transition: .3s ease-in-out;
}
.info-title-bg h1 a:hover{
    -webkit-text-stroke: 1px var(--whiteColor);
    color: transparent;
}
.product-types{
    margin: 10px 0px;
    padding: 10px;
    width: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.single-product{
    /* outline: 1px solid; */
    margin: 10px 0px;
    padding: 0px 10px;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 10px 15px;
    align-items: center;
}
.single-product .p-t-crd{
    width: 100%;
    height: auto !important;
}
.list-of-single-product{
    /* outline: 1px solid; */
    width: 100% !important;
}
.list-of-single-product ul li a{
    /* outline: 1px solid; */
    padding: 5px 0px;
    margin: 5px 0px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: var(--black);
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    word-spacing: 3px;
    text-transform: uppercase;
    background-color: #F4F4F4;
    position: relative;
}
.list-of-single-product ul li a::after{
    position: absolute;
    content: "";
    left: 0;
    top: 100%;
    width: 0%;
    height: 3px;
    border-radius: 10px;
    transition: width .3s linear;
    background: linear-gradient( 135deg,  rgba(22,22,22,1) 10%, rgba(255,20,175,1) 100% );
}
.list-of-single-product ul li a:hover::after{
    width: 100%;
}
.list-of-single-product ul li a:hover{
    color: rgba(201,37,107,1);
}
.p-t-crd{
    width: 250px;
    height: 150px;
    position: relative;
    overflow: hidden;
}
.p-t-crd img{
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
    object-position: center;
}
.p-t-crd-content{
    width: 100%;
    height: 101%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background: linear-gradient( 135deg, rgba(0,0,0,.3) 10%,  rgba(255,20,175,.3) 100%);
    transition: clip-path 0.2s ease !important;
    -webkit-transition: clip-path 0.2s ease !important;
    -moz-transition: clip-path 0.2s ease !important;
    -o-transition: clip-path 0.2s ease !important;
    animation: clipAni 10s ease-in-out infinite 2s;
    -webkit-animation: clipAni 10s ease-in-out infinite 2s;
    -moz-animation: clipAni 10s ease-in-out infinite 2s;
    -o-animation: clipAni 10s ease-in-out infinite 2s;
    box-shadow: inset 0 0 1px 5px var(--whiteColor);
    overflow: hidden;
}
@keyframes clipAni {
    35%{
        transition: clip-path 0.2s ease !important;
        -webkit-transition: clip-path 0.2s ease !important;
        -moz-transition: clip-path 0.2s ease !important;
        -o-transition: clip-path 0.2s ease !important;
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
    60%{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    90%{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    100%{
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}
.p-t-name{
    color: var(--whiteColor);
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    font-family: king;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0, 0, 0,1) 10%, rgba(255,255,255,1) 20%);
    background-size: 200% 100%;
    animation: bgPos 2s linear infinite;
    -o-animation: bgPos 2s linear infinite;
    -webkit-animation: bgPos 2s linear infinite;
    -moz-animation: bgPos 2s linear infinite;
}

@keyframes bgPos{
    0%{
        background-position: 50% 0;
    }
    50%{
        background-position: -150% 0;
    }
    100%{
        background-position: -150% 0;
    }
}

.info-body{
    align-self: center;
    margin: 10px 0px;
    width: 85%;
}

.info-body-img{
    text-align: center;
    width: 448px;
    height: 350px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.info-body-img img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    background-attachment: fixed;
    border-radius: 5px;
}
.info-sub-heading{
    background-color: #F4F4F4;
    padding: 10px 20px;
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: justify;
    margin: 15px 0px;
    font-weight: 600;
}
.info-para{
    background-color: #F4F4F4;
    padding: 10px 20px;
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: justify;
}

.info-nav-btn{
    display: none;
}

.form-section{
    margin: 10px 0px;
    padding: 0px 0px 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    overflow: hidden;
}
.form-heading{
    display: block;
    width: 85%;
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    font-weight: 600;
    color: rgba(201,37,107,1);
    background: #F4F4F4;
    padding: 10px;
}
.form-container{
    width: 80%;
    display: flex;
    column-gap: 20px;
    overflow: hidden;
}
.form-info-container{
    width: 50%;
}
.product-form{
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-info-container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.form-info{
    display: flex;
    align-items: center;
    column-gap: 20px;
    background: #F4F4F4;
    padding: 10px;
}
.form-info-img{
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: linear-gradient( 135deg,  rgba(22,22,22,1) 10%, rgba(255,20,175,1) 100% );
}
.form-info-img svg path{
    fill: var(--whiteColor);
}
.form-info-msg{
    display: flex;
    flex-direction: column;
}
.form-info-msg-title{
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: rgba(201,37,107,1);
}
.form-info-msg-exp{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
}
.productForm{
    align-self: center;
    background-color: #F4F4F4;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    row-gap: 5px;
}
.productForm p{
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
    color: rgba(201,37,107,1);
}
.form-group{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.form-group label, input, textarea{
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.form-group input, textarea{
    padding: 10px 15px;
    border: 1.5px solid rgba(201,37,107,.5);
    box-shadow: 0 0 5px rgba(102,0,153,.2);
    outline: none;
}
.inputField:focus, .form-group-country select:focus{
    border:1.5px solid rgba(201,37,107,1) !important;
    box-shadow: 0 0 10px rgba(201,37,107,.3) !important;
}
.form-group textarea{
    resize: none;
    height: 150px;
}
.form-group-country{
    margin-top: 15px;
    display: flex;  
    align-items: center;
    column-gap: 15px;
}
.form-group-country select, .form-group-country span, .form-group-number input, .form-group-number label{
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 10px 15px;
    background-color: var(--whiteColor);
    color: rgba(0, 0, 0, .6);
}
.form-group-country select{
    width: 40%;
    border: 1.5px solid rgba(201,37,107,.5);
    box-shadow: 0 0 5px rgba(102,0,153,.2);
    outline: none;
}
.form-group-number{
    position: relative;
    width: calc(60% - 15px);
    display: flex;
}
.form-group-number span{
    width: 60px;
    background: var(--whiteColor);
    border: 1.5px solid rgba(201,37,107,.5);
    border-right: none;
    padding: 10px 4px !important;
}
.form-group-number input{
    width: calc( 100% - 50px);
    background: var(--whiteColor);
    border: 1.5px solid rgba(201,37,107,.5);
    padding-left: 0px;
    border-left: none;
    outline: none;
}
.form-group-number input:focus{
    border-left: none;
    border-right: 1.5px solid rgba(201,37,107,1);
    border-bottom: 1.5px solid rgba(201,37,107,1);
    border-top: 1.5px solid rgba(201,37,107,1);
}

.phoneCode{
    border-right: none !important;
    border-left: 1.5px solid rgba(201,37,107,1) !important;
    border-bottom: 1.5px solid rgba(201,37,107,1) !important;
    border-top: 1.5px solid rgba(201,37,107,1) !important;
}

.form-group-number label{
    align-self: flex-start;
    text-transform: capitalize;
    padding: 0px;
    position: absolute;
    transform: translate(55px, 10px);
    -webkit-transform: translate(55px, 10px);
    -moz-transform: translate(55px, 10px);
    -o-transform: translate(55px, 10px);
    background: linear-gradient(to bottom, transparent 10% , var(--whiteColor) 40%);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}
.labelC{
    color: rgba(201,37,107,1) !important;
    transform: translate(25px, -10px) scale(0.75) !important;
    -webkit-transform: translate(25px, -10px) scale(0.75) !important;
    -moz-transform: translate(25px, -10px) scale(0.75) !important;
    -o-transform: translate(25px, -10px) scale(0.75) !important;
}
.form-group button{
    align-self: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 15px;
    padding: 10px 20px;
    word-spacing: 2px;
    outline: none;
    border: 1.5px solid var(--whiteColor);
    background-image: linear-gradient( 135deg,  rgba(22,22,22,.9) 10%, rgba(255,20,175,1) 100% );
    color: var(--whiteColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),  10px 10px 20px rgba(0, 0, 0, 0.1);
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
}
.form-group button:hover{
    background-image: linear-gradient( 135deg, rgba(255,20,175,1) 10%, rgba(22,22,22,.9) 100%);
}
.form-group button:active{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-position: right center;
}
.form-group label{
    align-self: flex-start;
    text-transform: capitalize;
    color: rgba(0, 0, 0, .6);
    background: linear-gradient(to bottom, transparent 10% , var(--whiteColor) 40%);
    transform: translate(15px, 30px);
    -webkit-transform: translate(15px, 30px);
    -moz-transform: translate(15px, 30px);
    -o-transform: translate(15px, 30px);
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
}
.form-group .label{
    color: rgba(201,37,107,1) !important;
    transform: translate(5px, 10px) scale(0.8) !important;
    -webkit-transform: translate(5px, 10px) scale(0.8) !important;
    -moz-transform: translate(5px, 10px) scale(0.8) !important;
    -o-transform: translate(5px, 10px) scale(0.8) !important;
}

.form-info-contact{
    background: #F4F4F4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.form-info-contactList{
    display: flex;
    column-gap: 20px;
}
.form-info-contactList a{
    text-decoration: none;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: var(--whiteColor);
    box-shadow: 0 0 3px rgba(201,37,107,1);
}
.form-info-contactList a:hover{
    background: linear-gradient( 135deg,  rgba(22,22,22,1) 10%, rgba(255,20,175,1) 100% );
    box-shadow: 0 0 5px rgba(201,37,107,1);
}
.form-info-contactList a:hover svg path{
    fill: var(--whiteColor) !important;
}
.form-info-contactList a svg path{
    fill: rgba(201,37,107,1) !important;
}

@media screen and (max-width:850px) {
    .info-menu{
        padding: 0px 30px;
    }
    .info-nav{
        column-gap: 25px;
    }
    .info-nav a{
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .info-nav a::after{
        height: 2px;
    }
    .info-title-bg h1{
        margin-left: 45px;
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
    .product-types{
        width: 90%;
    }
    .single-product{
        width: 90%;
    }
    .info-body{
        width: 90%;
    }
    .info-sub-heading{
        padding: 10px 10px;
        font-size: 1.6rem;
        line-height: 2.8rem;
    }
    .info-para{
        padding: 10px 10px;
        font-size: 1.4rem;
        line-height: 2.8rem;
    }
    .form-heading{
        width: 90%;
    }
    .form-container{
        width: 90%;
    }
    .form-heading{
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .form-info-msg-title{
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .form-info-msg-exp{
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        overflow: hidden;
    }
    .form-info-container{
        width: 100%;
    }
    .product-form{
        width: 100%;
    }
    .productForm{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 20px;
        row-gap: 10px;
    }
    .form-group-country{
        flex-direction: column;
        column-gap: 0px;
        row-gap: 20px;
    }
    .form-group-country select{
        width: 100%;
    }
    
    .form-group-number{
        width: 100%;
        flex-direction: row;
    }
    .form-group-number input{
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .info-menu{
        padding: 0px 20px;
        position: relative;
    }
    .info-menu img{
        max-width: 60px;
    }
    .info-nav-btn{
        display: block;
        margin-right: 5px;
        overflow: hidden;
    }
    .info-nav-btn svg{
        transition: transform .5s linear;
        -webkit-transition: transform .5s linear;
        -moz-transition: transform .5s linear;
        -o-transition: transform .5s linear;
    }
    .info-nav-btn:active svg{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    .info-nav{
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 10px 10px;
        flex-direction: column;
        align-items: flex-start;
        column-gap: 0px;
        row-gap: 10px;
        transition: clip-path .3s linear;
        -webkit-transition: clip-path .3s linear;
        -moz-transition: clip-path .3s linear;
        -o-transition: clip-path .3s linear;
        background: linear-gradient( 135deg,  rgba(22,22,22,.5) 10%, rgba(255,20,175,.6) 100% );
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .info-nav.active-nav{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .info-nav a{
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 400;
    }
    .info-nav a::after{
        height: 2px;
    }
    .info-title-bg{
        height: 250px;
    }
    .info-title-bg h1{
        margin-left: 40px;
        font-size: 3rem;
        line-height: 4rem;
    }
    .product-types{
        width: 95%;
    }
    .single-product{
        width: 95%;
        gap: 10px 0px;
        padding: 0px;
    }
    .p-t-crd{
        width: 100%;
        height: 100%;
    }
    .info-body{
        width: 95%;
    }
    .info-sub-heading{
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    .info-para{
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
    .form-heading{
        width: 95%;
    }
    .form-container{
        width: 95%;
    }
    .form-heading{
        font-size: 1.8rem;
    }
    .form-info-msg-title{
        font-size: 1.6rem;
    }
    .form-info-msg-exp{
        font-size: 1.4rem;
    }
}