.comp-info{
    width: 100%;
    padding: 0px 10px 10px 10px;
}
.para{
    text-align: justify;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.s-para{
    margin-top: 10px;
}

.f-style{
    font-family: king;
    color: var(--color13);
    font-weight: bold;
    background-image: linear-gradient( 180deg,  rgba(22,22,22,.9) 20%, rgba(255,20,175,1) 100% );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.products-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding: 10px;
    overflow: hidden;
}

.product-card{
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.product-card::after{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    content: "";
    width: 100%;
    height: 3.5px !important;
    background-size: 400% auto;
    transition: 0.5s;
}
.product-card:hover{  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.circle{
    align-self: flex-start;
    position: relative;
    width: calc(100% + 100px);
    aspect-ratio: 1 / 1;
    background: var(--whiteColor);
    clip-path: circle();
    transform: translate(-50px , -150px);
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
}
.circle::before{
    content: "";
    position: absolute;
    top: -4px;
    left: -7px;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: 0 0 0 20px var(--color1);
    border: none;
    border-radius: 50%;
    z-index: 2;
}

.cat-1:nth-child(1) .circle::before, .cat-4:nth-child(1) .circle::before{
   box-shadow: 0 0 0 20px var(--color1);
}
.cat-1:nth-child(2) .circle::before, .cat-4:nth-child(2) .circle::before{
   box-shadow: 0 0 0 20px var(--color2);
}
.cat-1:nth-child(3) .circle::before, .cat-4:nth-child(3) .circle::before{
   box-shadow: 0 0 0 20px var(--color3);
}
.cat-1:nth-child(4) .circle::before, .cat-4:nth-child(4) .circle::before{
   box-shadow: 0 0 0 20px var(--color4);
}
.cat-2:nth-child(1) .circle::before, .cat-5:nth-child(1) .circle::before{
   box-shadow: 0 0 0 20px var(--color5);
}
.cat-2:nth-child(2) .circle::before, .cat-5:nth-child(2) .circle::before{
   box-shadow: 0 0 0 20px var(--color6);
}
.cat-2:nth-child(3) .circle::before, .cat-5:nth-child(3) .circle::before{
   box-shadow: 0 0 0 20px var(--color7);
}
.cat-2:nth-child(4) .circle::before, .cat-5:nth-child(4) .circle::before{
   box-shadow: 0 0 0 20px var(--color8);
}
.cat-3:nth-child(1) .circle::before, .cat-6:nth-child(1) .circle::before{
   box-shadow: 0 0 0 20px var(--color9);
}
.cat-3:nth-child(2) .circle::before, .cat-6:nth-child(2) .circle::before{
   box-shadow: 0 0 0 20px var(--color10);
}
.cat-3:nth-child(3) .circle::before, .cat-6:nth-child(3) .circle::before{
   box-shadow: 0 0 0 20px var(--color11);
}
.cat-3:nth-child(4) .circle::before, .cat-6:nth-child(4) .circle::before{
   box-shadow: 0 0 0 20px var(--color12);
}

.circle picture{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(100% - 99px);
    height:calc(100% - 100px);
    z-index: 1;
}
.circle picture img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center 10px;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
    animation: zoominOut 5s infinite ease-in-out alternate-reverse both;
    -webkit-animation: zoominOut 5s infinite ease-in-out alternate-reverse both;
    -moz-animation: zoominOut 5s infinite ease-in-out alternate-reverse both;
    -o-animation: zoominOut 5s infinite ease-in-out alternate-reverse both;
}
.cat-1:nth-child(1) .circle picture img, .cat-4:nth-child(1) .circle picture img{
    animation-delay: -48s !important;
 }
 .cat-1:nth-child(2) .circle picture img, .cat-4:nth-child(2) .circle picture img{
    animation-delay: -.4 !important;
 }
 .cat-1:nth-child(3) .circle picture img, .cat-4:nth-child(3) .circle picture img{
    animation-delay: -.12s !important;
 }
 .cat-1:nth-child(4) .circle picture img, .cat-4:nth-child(4) .circle picture img{
    animation-delay: -.18s !important;
 }
 .cat-2:nth-child(1) .circle picture img, .cat-5:nth-child(1) .circle picture img{
    animation-delay: -.9s !important;
 }
 .cat-2:nth-child(2) .circle picture img, .cat-5:nth-child(2) .circle picture img{
    animation-delay: -.5s !important;
 }
 .cat-2:nth-child(3) .circle picture img, .cat-5:nth-child(3) .circle picture img{
    animation-delay: -.17s !important;
 }
 .cat-2:nth-child(4) .circle picture img, .cat-5:nth-child(4) .circle picture img{
    animation-delay: -.10s !important;
 }
 .cat-3:nth-child(1) .circle picture img, .cat-6:nth-child(1) .circle picture img{
    animation-delay: -.29s !important;
 }
 .cat-3:nth-child(2) .circle picture img, .cat-6:nth-child(2) .circle picture img{
    animation-delay: -.23s !important;
 }
 .cat-3:nth-child(3) .circle picture img, .cat-6:nth-child(3) .circle picture img{
    animation-delay: -.22s !important;
 }
 .cat-3:nth-child(4) .circle picture img, .cat-6:nth-child(4) .circle picture img{
    animation-delay: -.17s !important;
 }
@keyframes zoominOut {
    100%{
    transform: scale(1.1);
    }
}

.pro-crd-info{
    margin-top: -150px;
    padding: 5px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
.product-card:hover{
    background-color: rgba(102,0,153,.02);
}
.crd-title{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 800;
    text-transform: capitalize;
    font-family: king;
    letter-spacing: 2px;
    text-align: left;
}
.crd-title:hover{
    color: rgba(11, 44, 11,.6);
}
.crd-link{
    align-self: flex-start;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    /* color: rgba(102,0,153,1); */
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.crd-link::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 25px;
    height: 2px;
    width: 25%;
    transform: scaleY(1);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .3s ease-in-out;
}

.crd-link::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 25px;
    height: 2px;
    width: 75%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}


 
.cat-1:nth-child(1) .crd-title, .cat-4:nth-child(1) .crd-title{
    color : var(--color1);
}
.cat-1:nth-child(2) .crd-title, .cat-4:nth-child(2) .crd-title{
    color : var(--color2);
}
.cat-1:nth-child(3) .crd-title, .cat-4:nth-child(3) .crd-title{
    color : var(--color3);
}
.cat-1:nth-child(4) .crd-title, .cat-4:nth-child(4) .crd-title{
    color : var(--color4);
}
.cat-2:nth-child(1) .crd-title, .cat-5:nth-child(1) .crd-title{
    color : var(--color5);
}
.cat-2:nth-child(2) .crd-title, .cat-5:nth-child(2) .crd-title{
    color : var(--color6);
}
.cat-2:nth-child(3) .crd-title, .cat-5:nth-child(3) .crd-title{
    color : var(--color7);
}
.cat-2:nth-child(4) .crd-title, .cat-5:nth-child(4) .crd-title{
    color : var(--color8);
}
.cat-3:nth-child(1) .crd-title, .cat-6:nth-child(1) .crd-title{
    color : var(--color9);
}
.cat-3:nth-child(2) .crd-title, .cat-6:nth-child(2) .crd-title{
    color : var(--color10);
}
.cat-3:nth-child(3) .crd-title, .cat-6:nth-child(3) .crd-title{
    color : var(--color11);
}
.cat-3:nth-child(4) .crd-title, .cat-6:nth-child(4) .crd-title{
    color : var(--color12);
}




.cat-1:nth-child(1) .crd-link, .cat-4:nth-child(1) .crd-link{
    color : var(--color1);
}
.cat-1:nth-child(2) .crd-link, .cat-4:nth-child(2) .crd-link{
    color : var(--color2);
}
.cat-1:nth-child(3) .crd-link, .cat-4:nth-child(3) .crd-link{
    color : var(--color3);
}
.cat-1:nth-child(4) .crd-link, .cat-4:nth-child(4) .crd-link{
    color : var(--color4);
}
.cat-2:nth-child(1) .crd-link, .cat-5:nth-child(1) .crd-link{
    color : var(--color5);
}
.cat-2:nth-child(2) .crd-link, .cat-5:nth-child(2) .crd-link{
    color : var(--color6);
}
.cat-2:nth-child(3) .crd-link, .cat-5:nth-child(3) .crd-link{
    color : var(--color7);
}
.cat-2:nth-child(4) .crd-link, .cat-5:nth-child(4) .crd-link{
    color : var(--color8);
}
.cat-3:nth-child(1) .crd-link, .cat-6:nth-child(1) .crd-link{
    color : var(--color9);
}
.cat-3:nth-child(2) .crd-link, .cat-6:nth-child(2) .crd-link{
    color : var(--color10);
}
.cat-3:nth-child(3) .crd-link, .cat-6:nth-child(3) .crd-link{
    color : var(--color11);
}
.cat-3:nth-child(4) .crd-link, .cat-6:nth-child(4) .crd-link{
    color : var(--color12);
}

.crd-link:hover::after, .product-card:hover .crd-link::after{
    transform: scaleX(1.1);
    transform-origin: right;
}
.crd-link:hover::before, .product-card:hover .crd-link::before{
    transform: scaleX(0.5);
    transform-origin: left;
}

.cat-1:nth-child(1) .crd-link::before , .cat-1:nth-child(1) .crd-link::after, .cat-4:nth-child(1) .crd-link::before , .cat-4:nth-child(1) .crd-link::after{
    background-color: var(--color1);
}
.cat-1:nth-child(2) .crd-link::before , .cat-1:nth-child(2) .crd-link::after, .cat-4:nth-child(2) .crd-link::before , .cat-4:nth-child(2) .crd-link::after{
    background-color: var(--color2);
}
.cat-1:nth-child(3) .crd-link::before , .cat-1:nth-child(3) .crd-link::after, .cat-4:nth-child(3) .crd-link::before , .cat-4:nth-child(3) .crd-link::after{
    background-color: var(--color3);
}
.cat-1:nth-child(4) .crd-link::before , .cat-1:nth-child(4) .crd-link::after, .cat-4:nth-child(4) .crd-link::before , .cat-4:nth-child(4) .crd-link::after{
    background-color: var(--color4);
}
.cat-2:nth-child(1) .crd-link::before , .cat-2:nth-child(1) .crd-link::after, .cat-5:nth-child(1) .crd-link::before , .cat-5:nth-child(1) .crd-link::after{
    background-color: var(--color5);
}
.cat-2:nth-child(2) .crd-link::before , .cat-2:nth-child(2) .crd-link::after, .cat-5:nth-child(2) .crd-link::before , .cat-5:nth-child(2) .crd-link::after{
    background-color: var(--color6);
}
.cat-2:nth-child(3) .crd-link::before , .cat-2:nth-child(3) .crd-link::after, .cat-5:nth-child(3) .crd-link::before , .cat-5:nth-child(3) .crd-link::after{
    background-color: var(--color7);
}
.cat-2:nth-child(4) .crd-link::before , .cat-2:nth-child(4) .crd-link::after, .cat-5:nth-child(4) .crd-link::before , .cat-5:nth-child(4) .crd-link::after{
    background-color: var(--color8);
}
.cat-3:nth-child(1) .crd-link::before , .cat-3:nth-child(1) .crd-link::after, .cat-6:nth-child(1) .crd-link::before , .cat-6:nth-child(1) .crd-link::after{
    background-color: var(--color9);
}
.cat-3:nth-child(2) .crd-link::before , .cat-3:nth-child(2) .crd-link::after, .cat-6:nth-child(2) .crd-link::before , .cat-6:nth-child(2) .crd-link::after{
    background-color: var(--color10);
}
.cat-3:nth-child(3) .crd-link::before , .cat-3:nth-child(3) .crd-link::after, .cat-6:nth-child(3) .crd-link::before , .cat-6:nth-child(3) .crd-link::after{
    background-color: var(--color11);
}
.cat-3:nth-child(4) .crd-link::before , .cat-3:nth-child(4) .crd-link::after, .cat-6:nth-child(4) .crd-link::before , .cat-6:nth-child(4) .crd-link::after{
    background-color: var(--color12);
}

.cat-1:nth-child(1)::after, .cat-4:nth-child(1)::after{
    background-image: linear-gradient(to right, var(--color1) 0%, #ABDCFF  51%, var(--color1)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-1:nth-child(2)::after, .cat-4:nth-child(2)::after{
    background-image: linear-gradient(to right, var(--color2) 0%, #ABDCFF  51%, var(--color2)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-1:nth-child(3)::after, .cat-4:nth-child(3)::after{
    background-image: linear-gradient(to right, var(--color3) 0%, #ABDCFF  51%, var(--color3)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-1:nth-child(4)::after, .cat-4:nth-child(4)::after{
    background-image: linear-gradient(to right, var(--color4) 0%, #ABDCFF  51%, var(--color4)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-2:nth-child(1)::after, .cat-5:nth-child(1)::after{
    background-image: linear-gradient(to right, var(--color5) 0%, #ABDCFF  51%, var(--color5)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-2:nth-child(2)::after, .cat-5:nth-child(2)::after{
    background-image: linear-gradient(to right, var(--color6) 0%, #ABDCFF  51%, var(--color6)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-2:nth-child(3)::after, .cat-5:nth-child(3)::after{
    background-image: linear-gradient(to right, var(--color7) 0%, #ABDCFF  51%, var(--color7)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-2:nth-child(4)::after, .cat-5:nth-child(4)::after{
    background-image: linear-gradient(to right, var(--color8) 0%, #ABDCFF  51%, var(--color8)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-3:nth-child(1)::after, .cat-6:nth-child(1)::after{
    background-image: linear-gradient(to right, var(--color9) 0%, #ABDCFF  51%, var(--color9)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-3:nth-child(2)::after, .cat-6:nth-child(2)::after{
    background-image: linear-gradient(to right, var(--color10) 0%, #ABDCFF  51%, var(--color10)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-3:nth-child(3)::after, .cat-6:nth-child(3)::after{
    background-image: linear-gradient(to right, var(--color11) 0%, #ABDCFF  51%, var(--color11)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}
.cat-3:nth-child(4)::after, .cat-6:nth-child(4)::after{
    background-image: linear-gradient(to right, var(--color12) 0%, #ABDCFF  51%, var(--color12)  100%) !important;
    animation: shades 1.5s infinite ease-in-out alternate-reverse both;
}

@keyframes shades {
    100%{
        background-position: right center;
    }
}


@media only screen and (max-width : 1080px){
    .products-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

@media only screen and (max-width:750px){
    .para{
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

@media only screen and (max-width:450px){
    .para{
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .products-container{
        width: 100%;
        grid-template-columns: auto;
        gap: 20px 0px;
    }

    .pro-crd-info{
        padding: 5px  10px 15px 10px;
    }
    .crd-title{
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .crd-link{
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

@media only screen and (max-width:350px){
    .para{
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

@media only screen and (max-width:300px){
    .para{
        font-size: 1rem;
        line-height: 1.8rem;
    }
}