.testimonials-container{
    width: 100%;
    padding: 10px;
    position: relative;
    background: var(--whiteColor);
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right{
    background-image: none !important;
}
.testi-card{
    width: 400px !important;
    background-position: center;
    background-size: cover;
    background: var(--whiteColor);
    filter: blur(3px);
}
.swiper-slide-active{
    filter: blur(0px);
}
.testi-crd-container{
    width: 100%;
    border-radius: 1rem;
    margin-top: 10px;
    padding: 2rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.double-quotes{
    margin-bottom: 3rem;
}
.double-quotes::before{
    content: "\201C";
    font-size: 5rem;
    font-weight: 800;
    color: rgba(201,37,107,1);
    vertical-align: -16px;
    margin-right: 10px;
}
.double-quotes::after{
    content: "\201D";
    font-size: 5rem;
    font-weight: 800;
    color: rgba(201,37,107,1);
    vertical-align: -23px;
    margin-left: 10px;
}
.testi-crd-profile{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.testi-crd-profile img{
    max-width: 90px;
    height: 90px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    object-position: center center;
    margin: -4rem 0 0 4rem;
    position: relative;
    z-index: 2;
    border: 6px solid rgba(201,37,107,1);
}
.testi-crd-username{
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 0 4.5rem;
}
@media screen and (max-width:450px) {
    .swiper-slide{
        width: 90% !important;
    }
    .double-quotes::after{
        vertical-align: -25px;
    }
}